.custom-select {
  position: relative;
  display: inline-block;
  width: 100%;
}

.select-selected {
  background-color: #ffffff;
  color: #000000;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.select-items {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-top: none;
  width: 100%;
}

.select-items div {
  padding: 10px;
  cursor: pointer;
}

.select-items div:hover {
  background-color: #f0f0f0;
}
