@import '../../../libs/main';

.subscriptionType {
  &_wrap {
    margin-bottom: 2rem;
  }
  &_inner {
    margin: auto;
    color: $green-accent-color;
  }
  &_tab {
    position: relative;
    font-size: calculateRem(20px);
    cursor: pointer;
    &__active {
      &::before {
        content: '';
        position: absolute;
        height: 3px;
        width: 100%;
        background-color: $green-accent-color;
        bottom: -8px;
      }
    }
  }
}
